body{
    margin: 0px; 
    background-color: #47B5FF;
}
h1{
    margin-top: 0;
}

div{
    background-color: #34B3F1;
    
}
.top-container{
    background-color:#D8CCA3;
}
.middle-container{
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    left: 195px;
}

.bottom-container{
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    right: 103px;
}
.last-container{
    background-color:white;
    height: 100px;
    width: 100px;
    display: inline-block;
    position:relative;
    right:110px;
}